/* CSS document */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.gridContainer {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.gridContainer > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

.gridContainer > .contentContainer {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  background-color: rgba(255, 0, 255, 0.8);
  padding: 10px;
}

.gridContainer > .contentContainer > div {
  background-color: rgba(100, 0, 255, 0.8);
  padding: 20px 0;
  text-align: center;
}

.headerContainer {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  background-color: rgba(0, 255, 255, 0.8);
  padding: 10px;
}

.headerContainer > div {
  background-color: rgba(0, 200, 255, 0.5);
  padding: 20px 0;
  text-align: center;
}

.logo {
  grid-row-start: 1;
  grid-row-end: 3;
}

.nav {
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 4;
}
